#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}
.button-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.nav-button {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  background: transparent;
  transition: transform 0.2s ease;
}

.nav-button:hover {
  transform: scale(1.1);
}

.card {
  transition: transform 0.4s;
  cursor: pointer;
}

.card:active {
  transform: rotateX(180deg) scale(0.95);
}

.card p {
  transition: opacity 0.5s;
}

.card:active p {
  opacity: 0;
}